@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0a0a0a] text-gray-100;
  }
}

/* Opcjonalnie: Custom scrollbar dla mrocznego klimatu */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-[#0a0a0a];
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 rounded-full hover:bg-purple-900;
}