body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Stylizacja przycisków */
.btn {
    height: 70px;
    border-radius: 50px; /* Okrągłe przyciski */
    font-size: 1.75rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: filter 0.2s, transform 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:active {
    filter: brightness(1.2);
}

/* Kolory przycisków (jak na screenie) */
.btn-num {
    background-color: #333333;
    color: white;
}

.btn-top {
    background-color: #a5a5a5;
    color: black;
    font-weight: 500;
}

.btn-op {
    background-color: #ff9f0a; /* Klasyczny iOS Orange */
    color: white;
    font-size: 2.2rem;
    padding-bottom: 6px;
}

/* Tryb EVIL (aktywowany przez JS - Pkt 8) */
.evil-mode #calculator-body {
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.6);
    border: 1px solid red;
    animation: shake 0.5s infinite;
}

.evil-mode .btn-num {
    color: red;
    background-color: #1a0000;
}

.evil-mode #display {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Animacje wstrząsów */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Uciekający przycisk */
#equal-btn.running {
    position: fixed; /* Wyjmujemy go z GRIDa, żeby mógł latać */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(255,0,0,0.8);
}