@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0a0a0a] text-gray-100;
  }
}

/* Mroczny scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a855f7; /* Purple accent */
}